<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dungeon Party</title>
    <link rel="stylesheet" href="/public/assets/styles.css" />
    <link
      rel="icon"
      type="image/png"
      href="/public/img/Dungeon Party - Logo.png"
    />
  </head>
  <body>
    <div id="top"></div>
    <header>
      <div class="container mb-2">
        <div class="row px-3 align-items-center">
          <div class="col display-desktop">
            <a href="/">
              <img
                class="wordmark"
                src="/public/img/Dungeon Party - Wordmark.png"
                alt="Dungeon Party"
              />
            </a>
          </div>
          <!-- <div class="col display-mobile text-center pt-3">
            <a href="index.html">
              <img
                class="logo"
                src="images/Dungeon Party - Logo.png"
                alt="Dungeon Party"
              />
            </a>
          </div> -->
          <nav class="col">
            <ul class="d-flex justify-content-between">
              <a href="/">
                <li class="btn px-3 text-center">Início</li>
              </a>
              <a href="/posts">
                <li class="btn px-3 text-center">Publicações</li>
              </a>
              <a href="#top">
                <li class="btn px-3 text-center">Sobre nós</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container my-3">
      <form action="/logout?_method=DELETE" method="post">
        <div class="text-end">
          <button class="btn" type="submit">Logout</button>
        </div>
      </form>
    </div>
    <main class="container my-5">
      <section class="m-5 text-start">
        <h2>Afinal, o que é <span>Dungeon Party</span>?</h2>
        <br />
        <p>
          <span>Dungeon Party</span> é uma plataforma para encontrar pessoas que
          queiram jogar algum jogo em comum, seja videogames, boardgames ou RPGs
          online ou de mesa. Nela é possível ficar informado sobre o que
          acontece no mundo dos jogos. Além disso tudo, ela possibilita a junção
          de pessoas para game jams proporcionando assim a produção de jogos
          indies.
          <br />
          <br />
          <span>
            Feito para o Projeto Interdisciplinar: Sistema Empresarial Web em
            grupo na FECAP.
          </span>
        </p>
      </section>
      <section class="m-5 text-start">
        <article>
          <h2>Nosso logo: <span>um ovo?</span></h2>
          <h3><span>+ a nossa paleta de cores</span></h3>
          <figure class="text-center">
            <img
              class="logo"
              src="/public/img/Dungeon Party - Profile Picture.png"
              alt="Dungeon Party"
            />
          </figure>
          <p>
            O nosso querido logo — <span>um ovo de dragão!</span> — que
            simboliza um querido sonho que projetamos e cuidamos com carinho,
            ainda assim, com várias camadas e escamas. Suas cores vibrantes são
            os sentimentos que temos ao iniciar um projeto e ainda assim, sendo
            uma paleta que passa tranquilidade a quem vê. O ciano do fundo sendo
            o inverso do tom quente mais claro do logo para gerar o contraste
            que vimos. Esse é o nosso logo!
          </p>
          <p>A nossa <span>paleta de cores</span> é constituída por:</p>
          <ul>
            <li>
              #00E2BC
              <div class="color-card" style="background-color: #00e2bc"></div>
            </li>
            <li>
              #FF1842
              <div class="color-card" style="background-color: #ff1842"></div>
            </li>
            <li>
              #AD2142
              <div class="color-card" style="background-color: #ad2142"></div>
            </li>
            <li>
              #6E2141
              <div class="color-card" style="background-color: #6e2141"></div>
            </li>
            <li>
              #252525
              <div class="color-card" style="background-color: #252525"></div>
            </li>
            <li>
              #FFFFFF (o branco)
              <div class="color-card" style="background-color: #ffffff"></div>
            </li>
          </ul>
        </article>
      </section>
      <section class="m-5 text-start">
        <h2>Quem somos nós?</h2>
        <br />
        <p>
          Estudantes da
          <span>
            <a href="https://www.fecap.br" target="_blank">
              FECAP — Fundação Escola de Comércio Álvares Penteado —
            </a>
          </span>
          do curso superior de tecnologia em
          <span>Análise e Desenvolvimento de Sistemas</span> que têm em comum um
          gosto por videogames e tecnologia — além de terem uma sede por
          aventuras!
        </p>
        <figure class="text-center">
          <img
            class="picture"
            src="/public/img/Team/Dungeon Party Team.jfif"
            alt="Foto da Dungeon Party Team"
          />
        </figure>
        <article>
          <span>
            <a href="https://www.linkedin.com/in/lucas-benati/" target="_blank">
              Lucas Benati
            </a>
          </span>
          <p>
            UX/UI designer e digital artist que gosta muito de artes, cinema,
            pizza, lasanha e RPG.
          </p>
          <span>
            <a
              href="https://www.linkedin.com/in/gabriel-elias-05572b249/"
              target="_blank"
            >
              Gabriel Elias
            </a>
          </span>
          <p>
            Detonando no desenvolvimento, gente fina com um ótimo gosto musical
            cheio de músicas para te recomendar.
          </p>
          <span>
            <a
              href="https://www.linkedin.com/in/tiago-elias-619242174/"
              target="_blank"
            >
              Tiago Elias
            </a>
          </span>
          <p>Desenvolvedor que gosta de bons animes e videogames.</p>
          <span>
            <a
              href="https://www.linkedin.com/in/victory-rainbow/"
              target="_blank"
            >
              Victory Lima
            </a>
          </span>
          <p>
            Criativa e cheia de energia, a nossa scrum master que manda muito
            bem no front-end.
          </p>
          <span>
            <a
              href="https://www.linkedin.com/in/renato-rocha-08035722b/"
              target="_blank"
            >
              Renato Rocha
            </a>
          </span>
          <p>
            Jovem torcedor, curte muito Charlie Brown Jr. e está por dentro de
            tudo que acontece no mundo dos jogos.
          </p>
        </article>
        <article>
          <p>
            Um agradecimento aos
            <span>nossos professores e orientadores, amigos e familiares</span>
            e, em especial, ao nosso querido colega
            <span>
              <a
                href="https://www.linkedin.com/in/caique-matos-055841111/"
                target="_blank"
              >
                Caique Matos
              </a>
            </span>
            pelo auxílio e apoio. Sem vocês esse projeto não teria sido
            realizado. Muito obrigado!
          </p>
        </article>
        <figure class="text-center">
          <img
            class="picture"
            src="/public/img/Team/Dungeon Party Team 2.jfif"
            alt="Foto da Dungeon Party Team"
          />
        </figure>
      </section>
    </main>
    <footer class="mt-5">
      <div class="container">
        <div class="row p-3 mx-2">
          <div class="col-12 col-sm-9 text-start">
            <p>
              Copyright © 2022 - All rights reserved
              <br />
              Dungeon Party
            </p>
          </div>
          <div class="col-12 col-sm-3 text-center">
            <div class="links">
              <a href="https://www.instagram.com/partydungeon/" target="_blank">
                <img
                  src="/public/img/Instagram White Icon.png"
                  alt="Instagram"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
