<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dungeon Party</title>
    <link rel="stylesheet" href="/public/assets/styles.css" />
    <link
      rel="icon"
      type="image/png"
      href="/public/img/Dungeon Party - Logo.png"
    />
  </head>
  <body>
    <div id="top"></div>
    <header>
      <div class="container mb-2">
        <div class="row px-3 align-items-center">
          <div class="col display-desktop">
            <a href="#top">
              <img
                class="wordmark"
                src="/public/img/Dungeon Party - Wordmark.png"
                alt="Dungeon Party"
              />
            </a>
          </div>
          <!-- <div class="col display-mobile text-center pt-3">
            <a href="#top">
              <img
                class="logo"
                src="images/Dungeon Party - Logo.png"
                alt="Dungeon Party"
              />
            </a>
          </div> -->
          <nav class="col">
            <ul class="d-flex justify-content-between">
              <a href="#top">
                <li class="btn px-3 text-center">Início</li>
              </a>
              <a href="/posts">
                <li class="btn px-3 text-center">Publicações</li>
              </a>
              <a href="/about-us">
                <li class="btn px-3 text-center">Sobre nós</li>
              </a>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container my-3">
      <form action="/logout?_method=DELETE" method="post">
        <div class="text-end">
          <button class="btn" type="submit">Logout</button>
        </div>
      </form>
    </div>
    <main class="container my-5">
      <figure class="text-center">
        <img
          class="logo"
          src="/public/img/Dungeon Party - Profile Picture.png"
          alt="Dungeon Party"
        />
      </figure>
      <section class="my-5 text-center">
        <h2>Procurando por um grupo?</h2>
        <br />
        <h3>Aqui na <span>Dungeon Party</span> você encontra!</h3>
      </section>
      <div class="my-5 text-center">
        <h3>====================</h3>
      </div>
      <section class="m-5" id="news">
        <h2 class="text-center">Notícias</h2>
        <div class="row">
          <div class="col">
            <article class="my-5 p-4 pb-0 text-start">
              <figure class="text-center">
                <img
                  src="/public/img/News/news-img-1.jfif"
                  alt="Imagem de God of War: Ragnarok mostra Kratos e Atreus"
                />
              </figure>
              <h3>
                Saiba quanto tempo leva para fechar a campanha principal e fazer
                missões secundárias do novo jogo de PlayStation 5 focado em
                Kratos e Atreus
              </h3>
              <div class="row pt-1">
                <div class="col text-start">
                  <h5>O Redator</h5>
                </div>
                <div class="col text-end">
                  <p>10/11/2022</p>
                </div>
              </div>
            </article>
            <article class="my-5 p-4 pb-0 text-start">
              <figure class="text-center">
                <img
                  src="/public/img/News/news-img-3.jfif"
                  alt="Imagem de Animal Crossing mostra personagens da série"
                />
              </figure>
              <h3>
                Animal Crossing: New Horizons, o popular título de Nintendo
                Switch, se tornou o game mais vendido da história do Japão, com
                mais de 10.45 milhões de cópias vendidas desde o lançamento há
                mais de dois anos
              </h3>
              <div class="row pt-1">
                <div class="col text-start">
                  <h5>O Redator</h5>
                </div>
                <div class="col text-end">
                  <p>10/11/2022</p>
                </div>
              </div>
            </article>
            <article class="my-5 p-4 pb-0 text-start">
              <figure class="text-center">
                <img
                  src="/public/img/News/news-img-5.jfif"
                  alt="Imagem de Kami, ex-jogador profissional"
                />
              </figure>
              <h3>
                Ex-jogador critica o Nordeste em áudios expostos por ex-namorado
                em rede social; Kami se posiciona em stream
              </h3>
              <div class="row pt-1">
                <div class="col text-start">
                  <h5>O Redator</h5>
                </div>
                <div class="col text-end">
                  <p>10/11/2022</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col">
            <article class="my-5 p-4 pb-0 text-start">
              <figure class="text-center">
                <img
                  src="/public/img/News/news-img-2.jfif"
                  alt="Imagem de Pokemon Scarlet and Violet mostra Sprigatito"
                />
              </figure>
              <h3>
                Os vazamentos de Pokémon Scarlet e Violet continuam a todo
                vapor. Na última terça-feira (8), mais imagens do jogo
                ressurgiram na Internet, desta vez revelando o que,
                aparentemente, corresponde a todas as evoluções dos iniciais
                Sprigatito, Fuecoco e Quaxly.
              </h3>
              <div class="row pt-1">
                <div class="col text-start">
                  <h5>O Redator</h5>
                </div>
                <div class="col text-end">
                  <p>10/11/2022</p>
                </div>
              </div>
            </article>
            <article class="my-5 p-4 pb-0 text-start">
              <figure class="text-center">
                <img
                  src="/public/img/News/news-img-4.jfif"
                  alt="Imagem de Diablo IV mostra Lilith, Queen of the Succubi"
                />
              </figure>
              <h3>
                De acordo com o vazamento, o RPG da Blizzard deve chegar ao
                mercado em abril de 2023 e ainda vai oferecer uma fase beta no
                início do ano para usuários que reservarem o game
              </h3>
              <div class="row pt-1">
                <div class="col text-start">
                  <h5>O Redator</h5>
                </div>
                <div class="col text-end">
                  <p>10/11/2022</p>
                </div>
              </div>
            </article>
            <article class="my-5 p-4 pb-0 text-start">
              <figure class="text-center">
                <img
                  src="/public/img/News/news-img-6.jfif"
                  alt="Imagem de Animal Crossing mostra personagens da série"
                />
              </figure>
              <h3>
                Nesta quinta-feira, 10, a desenvolvedora brasileira Skullfish
                Studios lança o jogo de plataforma 2D “Lila's Tale and the
                Hidden Forest” para PC, nas lojas Steam e Nuuvem, que chega com
                muitas aventuras para os jogadores, incluindo modo cooperativo
                local.
              </h3>
              <div class="row pt-1">
                <div class="col text-start">
                  <h5>O Redator</h5>
                </div>
                <div class="col text-end">
                  <p>10/11/2022</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
      <div class="my-5 text-center">
        <h3>====================</h3>
      </div>
      <section class="my-5 text-center">
        <h2>Conheça o nosso <span>Instagram</span>!</h2>
        <h4>
          Siga o perfil
          <span>
            <a href="https://www.instagram.com/partydungeon/" target="_blank">
              @partydungeon
            </a>
          </span>
          e fique atualizado sobre o mundo geek.
        </h4>
        <figure class="my-5">
          <a href="https://www.instagram.com/partydungeon/" target="_blank">
            <img
              class="card"
              src="/public/img/Dungeon Party's Instagram Profile.png"
              alt="Perfil do Instagram da Dungeon Party"
            />
          </a>
        </figure>
      </section>
    </main>
    <footer class="mt-5">
      <div class="container">
        <div class="row p-3 mx-2">
          <div class="col-12 col-sm-9 text-start">
            <p>
              Copyright © 2022 - All rights reserved
              <br />
              Dungeon Party
            </p>
          </div>
          <div class="col-12 col-sm-3 text-center">
            <div class="links">
              <a href="https://www.instagram.com/partydungeon/" target="_blank">
                <img
                  src="/public/img/Instagram White Icon.png"
                  alt="Instagram"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/assets/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <h1>Index</h1>
    <h2>Olá</h2>
    <nav>
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/posts">Post</a></li>
        <li><a href="/register">Cadastro</a></li>
        <li><a href="/posts">Posts</a></li>
      </ul>
    </nav>

  </body>
</html> -->
